@zip:registry=https://zipau.jfrog.io/artifactory/api/npm/npm-local/
_auth = a3ViZS1kZXY6QVAzaGtYUEJmZHVvSEp5UGhDNWJ3Y1JjM1hRYVE0ZXBVUzcyZnVqY0NwQ2loVUpUZw==
always-auth = true
email = luiz.glingani@zip.co
//zipau.jfrog.io/artifactory/api/npm/npm-local/:email=consumerengagement@zipmoney.onmicrosoft.com
//zipau.jfrog.io/artifactory/api/npm/npm-local/:always-auth=true
